body{
    display: flex;
    background-color: rgb(244, 98, 58);
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}


.overview_header{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

ol {
counter-reset: li;
list-style: none;
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol a {
position: relative;
display: block;
padding: .5em .4em .4em 2em;
margin: 1em 0;
padding-right: 5em;
background: #FFFFFF;
color: #444;
text-decoration: none;
border-radius: .3em;
transition: .3s ease-out;
}


ol a:hover { background: #E9E4E0; }
/* ol a:hover:before { transform: rotate(360deg); } */
ol a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background: rgb(244, 98, 58);
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid #fff;
text-align: center;
font-weight: bold;
border-radius: 2em;
transition: all .3s ease-out;
}



.close_quiz_overview{
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    border-width: 2px;
    border-color: grey;
}
